[submodule "libs/jquery.dform"]
	path = libs/jquery.dform
	url = https://github.com/daffl/jquery.dform.git
[submodule "libs/Magnific-Popup"]
	path = libs/Magnific-Popup
	url = https://github.com/dimsemenov/Magnific-Popup.git
